{% extends "apple/base.html" %}
{% load static %}

{% block header %}
    <div class='jumbotron'>
        <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry
        summarizing what you've learned.
    </h2>
    <h1>Visits: {{ visits }} </h1>
    <p>Изучаем <mark>Питон вместе</mark></p>
    <p>Django для своей работы использует модель <abbr title="Model-View-Conrtoller">MVC</abbr></p>
    <br>
    <p>Чтобы начать, необходимо ввести команду в терминал:
        <br><code>pip install django</code>
    </p>
    <p class="text-info">По завершению установки вам отобразится:
        <br><span class="text-success">Django installed successfully</span>
    </p>
    <div class="alert alert-success fade in alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

{% endblock content %}